NEXT_PUBLIC_CANDY_MACHINE_ID=
NEXT_PUBLIC_RPC_HOST=
NEXT_PUBLIC_SOLANA_NETWORK=
# NEXT_PUBLIC_DEFAULT_GUARD_GROUP=

# NEXT_PUBLIC_COLLECTION_IMAGE_URL=https://linktoyourcollectionimage.zyx
# NEXT_PUBLIC_COLLECTION_TITLE='Your Collection title'
# NEXT_PUBLIC_COLLECTION_DESCRIPTION='Your Description for the Collection.'

# NEXT_PUBLIC_TOKEN_TYPE='If needed, your accepted SPL token label, like e.g. USDC'
# NEXT_PUBLIC_WEBSITE_URL=https://linktoyourwebsite.com
# NEXT_PUBLIC_TWITTER_URL=https://twitter.com/yourproject
# NEXT_PUBLIC_DISCORD_URL=https://discord.com/yourdiscordserver
