@media screen and (max-width: 1170px) {
  .nft-image {
    height: 400px !important;
  }
}

@media screen and (max-width: 1170px) {
  .leftcontainer {
    width: 40% !important;
    max-width: 40% !important;
  }
}

@media screen and (max-width: 1170px) {
  .rightcontainer {
    width: 60% !important;
    max-width: 60% !important;
  }
}

@media screen and (max-width: 997px) {
  .maincontainer {
    display: block !important;
  }
}

@media screen and (max-width: 997px) {
  .rightcontainer, .leftcontainer {
    width: 100% !important;
    max-width: 100% !important;
    text-align: center !important;
  }
}
